*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
@font-face {
      font-family: "coolvetica-rg";
      src: url(/assets/coolvetica\ rg.otf);
}
:root{
      --titles-bg:rgba(0, 121, 105, 0.836);
      --titles-font:white;
      --bg-arrow:rgba(255, 255, 255, 0.281);
      --html-bg:white;
      --bg-table:rgba(128, 128, 128, 0.336);
}
body{
      font-family: "coolvetica-rg";
      background-image: url(/assets/img/background.jpg);
}
main{
      width: 100vw;
      height: 100dvh;
      display: flex;
      transition: backdrop-filter 15s ease,background-color 5s ease;
}
h1{
      background-color: var(--titles-bg);
      text-align: center;
      font-weight: 500;
      color: var(--titles-font);
      padding:0 1em;
      font-size: 2em;
      margin: 1em 0;
}
h2{
      background-color: var(--titles-bg);
      color: var(--titles-font);
      font-weight: 500;
      padding:0 .5em;
      width: fit-content;
      margin: .5em 0;
}
h3{
      font-weight: 600;
      margin: .5em 0;
}
li{
      margin: .5em 2em;
}
span{
      margin: 10px;
      background-color: rgba(255, 255, 0, 0.466);
}
table{
      margin: 1vw;
      background-color: var(--bg-table);
      outline: 3px solid black;
}
tr,
th,
td{
      outline: 1px solid black;
}
th{
      text-transform: uppercase;
}
th,
td{
      padding: .5em;
      text-align: center;
}







.booklet{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60vw;
      margin-left: 20vw;
      margin-top: 10dvh;
      height: fit-content;
}
.hooks{    
      position: absolute;
}
.hooks img{
      position: relative;
      height: 64.8vh;
      width: 110%;
      margin-top: 1.7vh;
      z-index: 5;
      transform: translateX(-5%);
}
.right,
.left{
      position: relative;
      height:80vh;
      width: 45%;
}
.right img,
.left img{
      border-radius: calc(1.2vw + 1.2vh);
      box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.61);
      -webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.61);
      -moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.61);
      background-color: rgba(0, 0, 0, 0.705);
      height: 100%;
      margin: 0 .5vh;
}
.left{
      display: flex;
      justify-content: end;
}
.html-style{
      position: absolute;
      width: 25vw;
      height: 90%;
      margin: 5% 2%;
      background-color: var(--html-bg);
      padding: 5% 7%;
      overflow: scroll;
      z-index: 2;
}
.html-style::-webkit-scrollbar{
      display: none;
}

#html-der{
      transition: 1s ease;
      z-index: 4;
      transform-origin: left;
}
.rotate-sheet{
      animation: girarHoja .35s ease 0s infinite none normal;
      animation-play-state: running;
}
.rotate-sheet-back{
      animation: girarHoja .35s ease 0s infinite reverse ;
      animation-play-state: running;
}

@keyframes girarHoja {
      from{

      }
      to{

            z-index: 6;
            opacity: 0;
            transform: rotateY(180deg)translateX(10%);
            filter:brightness(5000)contrast(.1)
      }
}
#right-arrow,
#left-arrow{
      position: absolute;
      width: 10%;
      /* border-radius: 0; */
      bottom: 0;
      margin: 5%;
      height: 20%;
      cursor: pointer;
      z-index: 7;
      transition: .25s ease-out;
      background-color: var(--bg-arrow);
}
#left-arrow{
      left: 30vw;
}
#right-arrow{
      transform: rotateZ(180deg);
      left: -7.5vw;
}
#right-arrow:hover{
      transform: rotateZ(190deg);

}
#left-arrow:hover{
      transform: rotateZ(-10deg);
}

.mark{
      border-radius: 0 30% 0 0;
      position: absolute;
      background: rgb(178,187,98);
      background: linear-gradient(180deg, rgba(178,187,98,1) 0%, rgba(140,143,113,1) 100%);
      height: 12.5%;
      left: 1vw;
      padding: 0 .5em;
      font-size: 2em;
      transition: .2s ease-in;
      cursor: pointer;
}
#epa{
      left: 4em;
      background: rgb(187,98,98);
      background: linear-gradient(180deg, rgba(187,98,98,1) 0%, rgba(143,113,113,1) 100%);
}
#mat{
      left: 7.2em;
      background: rgb(98,106,187);
      background: linear-gradient(180deg, rgba(98,106,187,1) 0%, rgba(113,118,143,1) 100%);
}
.number{
      font-size: 1em;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 100%;
      position: absolute;
      background-color: white;
      width: 2em;
      height: 2em;
      border-radius: 15px;
      transition: 2s ease;
      opacity:.5;
}
.horarios{
      position: absolute;
      width: 20vw;
}
.horarios img{
      box-shadow: none;
      border-radius: 0px;
      width: 20vw;
}
.material{
      width: 100vw;
      height: fit-content;
      margin-top: 30dvh;
}
.material img{
      background-color: transparent;
      box-shadow: none;
      transform: rotateZ(-10deg);
      height: 10vw;
      cursor: pointer;
}