*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
@font-face {
      font-family: "coolvetica-rg";
      src: url(/assets/coolvetica\ rg.otf);
}
:root{
      --titles-bg:rgba(0, 121, 105, 0.836);
      --titles-font:white;
      --bg-arrow:rgba(255, 255, 255, 0.281);
      --html-bg:white;
      --bg-table:rgba(128, 128, 128, 0.336);
}
body{
      font-family: "coolvetica-rg";
      background-image: url(/assets/img/background.jpg);
}
main{
      width: 100vw;
      height: 100dvh;
      overflow: hidden;
      transition: backdrop-filter 15s ease,background-color 5s ease;
}
h1{
      background-color: var(--titles-bg);
      text-align: center;
      font-weight: 500;
      color: var(--titles-font);
      padding:0 1em;
      font-size: 2em;
      margin: 1em 0;
}
h2{
      background-color: var(--titles-bg);
      color: var(--titles-font);
      font-weight: 500;
      padding:0 .5em;
      width: fit-content;
      margin: .5em 0;
}
h3{
      font-weight: 600;
      margin: .5em 0;
}
li{
      margin: .5em 2em;
}
span{
      margin: 10px;
      background-color: rgba(255, 255, 0, 0.466);
}
table{
      margin: 1vw;
      background-color: var(--bg-table);
      outline: 3px solid black;
}
tr,
th,
td{
      outline: 1px solid black;
}
th{
      text-transform: uppercase;
}
th,
td{
      padding: .5em;
      text-align: center;
}







.booklet{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 60vw;
      margin-left: 20vw;
      margin-top: 10dvh;
      height: fit-content;
}
.hooks{    
      position: absolute;
}
.hooks img{
      position: relative;
      height: 64.8vh;
      width: 110%;
      margin-top: 1.7vh;
      z-index: 5;
      transform: translateX(-5%);
}
.right,
.left{
      position: relative;
      height:80vh;
      width: 45%;
}
.right img,
.left img{
      border-radius: calc(1.2vw + 1.2vh);
      box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.61);
      -webkit-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.61);
      -moz-box-shadow: 0px 0px 38px 0px rgba(0,0,0,0.61);
      background-color: rgba(0, 0, 0, 0.705);
      height: 100%;
      margin: 0 .5vh;
}
.left{
      display: flex;
      justify-content: end;
}
.html-style{
      position: absolute;
      width: 25vw;
      height: 90%;
      margin: 5% 2%;
      background-color: var(--html-bg);
      padding: 5% 7%;
      overflow: scroll;
      z-index: 2;
}
.html-style::-webkit-scrollbar{
      display: none;
}

#html-der{
      transition: 1s ease;
      z-index: 4;
      transform-origin: left;
}
.rotate-sheet{
      animation: girarHoja .35s ease 0s infinite none normal;
      animation-play-state: running;
}
.rotate-sheet-back{
      animation: girarHoja .35s ease 0s infinite reverse ;
      animation-play-state: running;
}

@keyframes girarHoja {
      from{

      }
      to{

            z-index: 6;
            opacity: 0;
            transform: rotateY(180deg)translateX(10%);
            filter:brightness(5000)contrast(.1)
      }
}
.arrows-container{
      position: absolute;
      width: 80vw;
      height: max-content;
      z-index: 10000;
}
.arrows{
      display: flex;
      width: 100%;
      height: max-content;
      justify-content: space-between;
}
.arrows img{
      width: 4vw;
      /* border-radius: 0; */
      bottom: 0;
      margin: 5%;
      height: 7vw;
      cursor: pointer;
      border-radius: 25px;
      z-index: 7;
      transition: .25s ease-out;
      background-color: var(--bg-arrow);
}
#right-arrow{
      transform: rotateZ(180deg);
}
#right-arrow:hover{
      transform: rotateZ(170deg);
}
#left-arrow:hover{
      transform: rotateZ(10deg);
}
.marks-conteiner{
      position: absolute;
      display: flex;
      width: 90%;
      height: 10dvh;
      left: .5%;
      transform: translateY(-2dvh);
      justify-content: center;
}
.mark{
      position: relative;
      width: 30%;
      margin: 0 1.5%;
      border-radius: 0 30% 0 0;
      height: 100%;
      background: rgb(178,187,98);
      background: linear-gradient(180deg, rgba(178,187,98,1) 0%, rgba(140,143,113,1) 100%);
      padding: 0 .5em;
      font-size: 2em;
      transition: .2s ease-in;
      cursor: pointer;
}
#epa{
      background: rgb(187,98,98);
      background: linear-gradient(180deg, rgba(187,98,98,1) 0%, rgba(143,113,113,1) 100%);
}
#mat{
      background: rgb(98,106,187);
      background: linear-gradient(180deg, rgba(98,106,187,1) 0%, rgba(113,118,143,1) 100%);
}
.number{
      font-size: 1em;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 100%;
      position: absolute;
      background-color: white;
      width: 2em;
      height: 2em;
      border-radius: 15px;
      transition: 2s ease;
      opacity:.5;
}
.horarios{
      position: absolute;
      width: 20vw;
}
.horarios img{
      box-shadow: none;
      border-radius: 0px;
      width: 20vw;
}
.material{
      position: relative;
      width: fit-content;
      border-radius: 50%;
      height: fit-content;
      border: dashed 5px rgb(79, 79, 79);
      margin-top: 30dvh;
      background-color: rgb(174, 174, 174);
}
.material img{
      background-color: transparent;
      box-shadow: none;
      transform: rotateZ(-10deg);
      height: 10vw;
      cursor: pointer;
}
.material h3{
      position: relative;
      display: block;
      font-size: 2em;
      width: 7em;
      left: 15%;
      color: rgb(71, 71, 71);
      cursor: default;
      transform: rotateZ(-10deg);
      transform-origin: left;
      text-align: center;

}
@media (max-width: 1024px) {
      .booklet{
            width: 100vw;
            margin:0;
      }
      .hooks{
            position: absolute;
            transform:rotateZ(90deg);
            width: 100dvw;
            top: -35%;
            background-color: black ;
            transform-origin: center;
            z-index: 1;
      }
      .hooks img{
            opacity: 0;
      }
      .left *{
            display: none;
      }
      .right{
            width: 100vw;
      }
      .html-style{
            width: 100vw;
            height: 90dvh;
            margin: 10dvh 0 0 0;
      }
      .arrows-container{
            width: 100vw;
            bottom: 0;
      }
      .arrows img{
            background-color: rgba(0, 0, 0, 0.397);
            scale: 2.5;
      }
      #right-arrow:hover{
            transform:rotateZ(170deg);
      }
      #left-arrow:hover{
            transform:rotateZ(10deg);
      }
      .marks-conteiner{
            transform: translateY(5dvh);
            z-index: 1;
      }
      .right img{
            margin: 0;
      }
      .right{
            background-color: black;
            border-radius: 0;
      }
}